p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding: 0;
}

#container1{
			
	width: 100px;
	float: left;
		
}


#container1 ul {
	padding:0;
	margin:0;
	list-style: none;
	display: block;
}

#container1 li {
	border: 1px solid black;
	margin: 5px 0 5px 0;
	background: lightGrey;
	border-radius: 3px;
}

#container2{

	display: block;
	float: left;
}

#countDiv{
	float: left;
	width: 50%;
}

#catLevelDiv {
	float: left;
	width: 50%;
	
}
		
#catPic {
	height: 450px;
	width: 450px;
}

.separation {
	float: left;
	height: 100%;
	width: 50px;
}


#container3{
	float: left;
	display: block;
}

#admin_area {
	float: left;
}

.admin label{
	display: block;
	width: 100px;
	float: left;
}

.admin input {
	display: block;
	float: left;
	margin-left: 5px;
}


